# Ignorar arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Ignorar arquivos de banco de dados SQLite
*.sqlite3
*.db
*.sqlite
*.db-journal
*.db-wal
*.db-shm

# Ignorar ambiente virtual (opcional)
venv/
.env